{% extends 'base.html' %}

{% block container %}

  <main class="container mt-3 mb-5">
    <section>
        <div style="margin-left:auto;margin-right:auto;width:300px;height:300px;">
            <img src="{{ url_for('static', filename='img/302.jpg') }}">
        </div>
        <h2 class="text-center mt-5 mb-3">Страница в разработке</h2>
        <p class="text-center mb-4">Данная страница находится в разработке и будет доступна позже</p>
        <div class="text-center pb-5">
            <a href="/" class="btn btn-primary">Перейти на главную</a>
        </div>
    </section>
  </main>

{% endblock %}